body {
    margin: 0px;
    padding: 0px;
    background-color: hsl(212, 45%, 89%);
}
main {
    display: grid;
    place-items: center;
    height: 100vh;
}
.conteudo {
    width: max-content;
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    padding: 15px;
    transition: .2s;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conteudo:hover {
    box-shadow: 0 0 10px 2px gray;
}
img {
    border-radius: 15px;
    width:100%;
    height: 100%;
    object-fit: cover;
}
h1{
    color: hsl(218, 44%, 22%);
    font-size: 23px;
    line-height: 0.9;
}
.p {
    color: hsl(220, 15%, 55%);
    transition: .2s;

}
.p:hover {
    color: black;
    font-size: 15px;
}
.espaco {
    height: 500px;
    background-color:  hsl(212, 45%, 89%);
}
.links img {
    width: 70px;    
    gap: 10px;
    
}
.sobre {
    display: flex;
    place-content: center;
    margin-bottom: 10px;
    gap: 10px;
    transition-duration: .20s;

}
.links {
    margin-bottom: 50px;
}
.sobress {
    transition-duration: .3s;
}
@media (width <= 400px) {
    .conteudo {
        width: 200px;   
        display: grid;
        max-width: auto-fit(190px);
    }
}